/*
Button

button component

.btn - default
.btn:hover - hover
.btn--primary - primary

markup:
<button class="btn {$modifiers}">button text</button>

Styleguide 1.0.0
*/
.btn {
  padding: 0.5em 1em;
  border: none;
  -webkit-appearance: none;
  &:hover {
    opacity: 0.6;
  }
  &--primary {
    background-color: $colorSub;
    color: #fff;
  }
}
